<ng-container *ngIf="paginator">
  <ng-container *ngIf="monitorChecks">
    <ng-container *ngIf="monitorChecks.length > 0">
      <table mat-table [dataSource]="monitorChecks" class="mat-elevation-z2">
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td
            mat-cell
            *matCellDef="let monitorCheck"
            class="status-color status-color--{{ monitorCheck.isUp }}"
          >
            <span *ngIf="monitorCheck.isUp">Up</span>
            <span *ngIf="monitorCheck.isUp === false">Down</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="reason">
          <th mat-header-cell *matHeaderCellDef>Reason</th>
          <td mat-cell *matCellDef="let monitorCheck">
            <ng-container *ngIf="monitorCheck.isUp; else down">
              <span>OK</span>
            </ng-container>
            <ng-template #down>
              <ng-container
                *ngIf="
                  monitorCheck.reason === null &&
                    monitor?.monitorType === 'Heartbeat';
                  else reason
                "
              >
                <span> Request not received </span>
              </ng-container>
              <ng-template #reason>
                <span>
                  {{ convertReasonText(monitorCheck.reason) }}
                </span>
              </ng-template>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="responseTime">
          <th mat-header-cell *matHeaderCellDef>Response time</th>
          <td mat-cell *matCellDef="let monitorCheck">
            <ng-container
              *ngIf="
                monitor?.monitorType === 'Heartbeat' ||
                  !monitorCheck.responseTime;
                else time
              "
            >
              <span>-</span>
            </ng-container>
            <ng-template #time>
              <span>{{ monitorCheck.responseTime | humanizeDuration }}</span>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="startCheck">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let monitorCheck">
            <span>{{ monitorCheck.startCheck | date: "short" }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="pagination">
          <td
            mat-footer-cell
            *matFooterCellDef
            [attr.colspan]="displayedColumns.length"
            class="footer"
          >
            <ng-container *ngIf="loading === false">
              <button
                [routerLink]="[]"
                [queryParams]="paginator.previousPageParams || {}"
                queryParamsHandling="merge"
                mat-button
                [disabled]="paginator.hasPreviousPage === false"
              >
                <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
              <button
                [routerLink]="[]"
                [queryParams]="paginator.nextPageParams || {}"
                queryParamsHandling="merge"
                mat-button
                [disabled]="paginator.hasNextPage === false"
              >
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </ng-container>
            <div *ngIf="loading" class="spinner-container">
              <mat-progress-spinner
                [diameter]="33"
                color="primary"
                mode="indeterminate"
              ></mat-progress-spinner>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="monitor-row"
        ></tr>
        <tr mat-footer-row *matFooterRowDef="['pagination']"></tr>
      </table>
    </ng-container>
  </ng-container>
</ng-container>
